


ul {
    list-style-type: none;
    margin: 0;
    padding: auto;
    display: inline-block;
}
  
li {
    display: inline-flex;
    margin: 24px;
    float: right;
}

nav {    
 
    text-align: center;
    float: right;        
}

#wrapper { }

    

#splash
#campus
#learn
#thesis 