


ul {
    list-style-type: none;
    background-color: bisque;
    display: inline-block;
    width: 100%;
    margin: auto; 
}
  
li {
    display: inline-flex;
    float: right;
    background-color: aqua;
}

nav {    
 
  background-color: blueviolet;

      
}

#wrapper { }

    

#splash
#campus
#learn
#thesis 